[package]
name = "tesla_auth"
version = "0.4.0"
description = "Tesla token generator"
homepage = "https://github.com/adriankumpf/tesla_auth"
repository = "https://github.com/adriankumpf/tesla_auth"
keywords = ["tesla-api", "oauth2", "webview", "cli"]
categories = ["command-line-utilities"]
authors = ["Adrian Kumpf"]
edition = "2021"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.51"
argh = "0.1.7"
log = "0.4.14"
oauth2 = "4.1.0"
reqwest = { version = "0.11.7", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.130", default-features = false, features = ["derive"] }
serde_json = "1.0.72"
simple_logger = { version = "1.15.0", default-features = false, features = ["stderr"] }
static_vcruntime = "1.5.1"
wry = { version = "0.12.2", default-features = false, features = [] }

[profile.release]
opt-level = "z"  # Optimize for size.
lto = true
codegen-units = 1
