<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Tokens generated!</h1>

    <form>
      <label for="access_token">Access Token:</label><br />
      <input type="text" name="access_token" value="{access_token}" />
      <label for="refresh_token">Refresh Token:</label><br />
      <input type="text" name="refresh_token" value="{refresh_token}" />
    </form>
  </body>
</html>
